# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# display index page
RewriteRule ^$   views/index.html [nc,qsa]
RewriteRule ^check/$   views/index.html [nc,qsa]
RewriteRule ^check$   views/index.html [nc,qsa]
RewriteRule ^user_details/$   index.php [nc,qsa]



