<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Steam User Games</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="stylesheet" href="http://localhost/billpocket/views/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="http://localhost/billpocket/views/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://localhost/billpocket/views/css/style.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js">
		<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js">
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	</head>
	<body>
		
		<section class="cover-1 text-center">
			<nav class="navbar navbar-toggleable-sm navbar-custom navbar-inverse">
				<div class="container">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="#">Reto Billpocket</a>
				</div>
			</nav>
			<div class="cover-container pb-5">
				<div class="cover-inner container">
						<h1 class="jumbotron-heading">Buscador de Usuarios  <strong>Steam</strong></h1>
						<p class="lead">Consulte los juegos pertenecientes a un usuario de Steam</p>
						<p class="center"><input id="inputPlayerNick" class="form-control mb-6 mr-6 ml-6" placeholder="Ingrese Nickname del jugador a buscar" /> </p>
						<p>
							<a href="#" class="btn btn-primary btn-lg mb-2 mr-2 ml-2" onclick="displayUserTable(1)">Buscar</a>
						</p>
				</div>
			</div>
			<div id="displayResults" class="row  justify-content-center">

			</div>
		</section>


		
		<footer class="footer-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
						<p>Elaborado por Walter Suarez</p>
						<p>walter.suarez.ramirez@gmail.com</p>
					</div>
				</div>
			</div>
		</footer>





		<!-- Placed at the end of the document so the pages load faster -->
		<script src="//code.jquery.com/jquery-1.12.4.js"></script>
		<script src="http://localhost/billpocket/views/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

		<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<script src="http://localhost/billpocket/views/js/functions.js"></script>
	</body>
</html>